h3{
    font-size: 1.25rem;
    font-family: 'Barlow';
    color: var(--secondary-red-color-light--);
}

#p-left h2{
    font-size: 2.5rem;
    font-family: 'Barlow';
}

#p-left h2 span{
    color: var(--secondary-red-color-light--);
    font-size: 2.5rem;
}

#thcontainer #p-left{
    width: 32vw;
    max-width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 1rem;
    /* height: 25rem; */
}

#thcontainer #hero-para{
    width: 38rem;
    max-width: 100%;
    margin-top: 2rem;
}

#thcontainer{
    display: flex;
    flex-flow: row wrap;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

#p-right img{
    height: 35rem;
    max-width: 100%;
    width: 45vw;
}

button#xplore{
    width: 12.5rem;
    height: 2.9375rem;
    border-radius: 50rem;
    background: var(--secondary-red-color-light--);
    border: none;
}

button#xplore:hover{
    /* background-color: var(--secondary-red-color-dark--); */
    animation: 0.1s red-button-animation 1 ease-out forwards;
}

#short-intro-section{
  width: 70vw;
  max-width: 100%;
  background-color: var(--third-color--);
  color: var(--main-color--);
  border-radius: 20px;
  padding: 4rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
  margin: 12rem auto;
}

#short-intro-section #left-box,  #short-intro-section #right-box{
    width: 46%;
    width: 46%;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
}

#short-intro-section #left-box{
    gap: 2rem;
}

#short-intro-section #right-box{
    gap: 1rem;
}


#short-intro-section #left-box #intro{
    font-family: 'poppins';
    font-size: 6rem;
    color: var(--secondary-red-color-light--);
    line-height: 7.2rem;
    letter-spacing: -2px;
}

#short-intro-section #left-box #intro02{
    font-family: 'poppins';
    font-weight: 300;
    font-size: 3rem;
    line-height: 3.6rem;
    letter-spacing: -2px;
    vertical-align: middle;
}

#short-intro-section #left-box #intro03{
    font-family: 'poppins';
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0%;
    vertical-align: middle;
}

#short-intro-section #right-box .intro{
    font-family: 'poppins';
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0%;
    vertical-align: middle;
}





main #how-it-works{
    width: 90vw;
  max-width: 100%;
  margin: 0rem auto;
}

#how-it-works #intro{
display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column nowrap;
  max-width: 100%;
  /* border: 1px solid aliceblue; */
  width: 65%;
  margin: 0 auto;
}


#how-it-works #intro p{
    width: fit-content;
    margin-left: auto;
  margin-right: auto;
}

#how-it-works #intro p#top-section{
    font-family: 'poppins';
    font-size: 3rem;
    line-height: 3.6rem;
    letter-spacing: -2px;
    vertical-align: middle;
}

#how-it-works #intro p#middle-section{
    color: var(--secondary-red-color-light--);
    font-family: 'poppins';
    font-style: medium;
    font-size: 6rem;
    line-height: 7.2rem;
    letter-spacing: -2px;
    vertical-align: middle;
}

#how-it-works #explaination{
    margin-top: 8rem;
}


#how-it-works #intro p#bottom-section{
    font-family: 'poppins';
    font-size: 1.375rem;
    line-height: 2.0625rem;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: center;
}

#how-it-works #card-container li{
    width: 108rem;
    height: 60rem;
    top: 34.931875rem;
    left: 6rem;
    border-radius: 20px;
    /* border: 1px solid white; */
    margin-bottom: 3rem;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem;
  margin: 0 auto;
  box-sizing: border-box;
}


#how-it-works #card-container li#cards01{
    background-image: url(/static/images/mountain.png);
}

#how-it-works #card-container li#cards02{
    background-image: url(/static/images/58bc9277572fd907f6b25162a84565ecf4c4170b.png);
}
#how-it-works #card-container li#cards03{
    background-image: url(/static/images/mountain.png);
}
#how-it-works #card-container li#cards04{
    background-image: url(/static/images/58bc9277572fd907f6b25162a84565ecf4c4170b.png);
}


#how-it-works #card-container li .step{
    font-family: 'poppins';
    font-weight: 300;
    font-size: 2.25rem;
    line-height: 3.375rem;
    letter-spacing: 0%;
    text-align: start;
    margin-bottom: 1rem;
}

#how-it-works #card-container li .task{
    font-family: 'poppins';
    font-weight: 500;
    font-size: 3.75rem;
    line-height: 4.125rem;
    letter-spacing: -2px;
    vertical-align: middle;
    text-align: start;
    margin-bottom: 4rem;
    /* width: 55%; */
}

#how-it-works #card-container li .explanation{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: start;
    margin-bottom: 2rem;
    width: 40rem;
}

#how-it-works #card-container li .summary-line{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.8125rem;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: start;
    width: 30rem;
}


#solution_section #text-container{
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
    justify-content: space-between;
  padding: 5rem;
  box-sizing: border-box;
}

#solution_section #text-container .title{
    font-family: 'poppins';
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

#solution_section #text-container .summary{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem 0rem;
}

#solution_section #text-container .section-left{
    width: 4rem;
  height: 4rem;
  background-image: url(/static/images/solution-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.7rem;
}

#solution_section #text-container .solution{
    display: flex;
  flex-flow: row nowrap;
  margin: 1rem 0rem;
}


#solution_section #right-section{
    width: 38%;
    position: relative;
  top: 1rem;
}

#solution_section #right-section .title{
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 6rem;
line-height: 7.2rem;
letter-spacing: -2px;
vertical-align: middle;
}

#solution_section #right-section .strategy{
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 1.25rem;
line-height: 1.875rem;
letter-spacing: 0%;
vertical-align: middle;
margin: 4rem 0rem;
}

#solution_section #right-section .connect{
    color: white;
  line-height: 2rem;
  border: 1px solid;
  padding: 1rem 2rem;
  border-radius: 50rem;
  position: relative;
  z-index: 10000;
}


#solution_section #img-container{
/* position: absolute; */
  margin-top: -24vw;
}



#plans{
    margin-top: 8rem;
}

#plans .title, #plans .description{
    text-align: center;
}

#plans .title{
    color: var(--secondary-red-color-light--);
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

#plans .description{
    font-family: 'Barlow';
    font-size: 2.5rem;
    line-height: 3.125rem;
    font-weight: 600;
}


#plans .cards-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 2rem;
    width: fit-content;
    margin: 0rem auto;
    margin-top: 10rem;
}

#plans .card{
    border: 1px solid white;
    border-radius: 15px;
    width: 27.75rem;
    min-height: 38.4375rem;
    height: 41rem;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
}

#plans .card#featured{
    height: 46rem;
}

#plans .card .plan-container {
    border-radius: 50%;
    width: 12.5rem;
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: -6rem;
    background-color: var(--secondary-red-color-light--);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

#plans .featured{
    padding: 0rem 1rem;
  line-height: 2rem;
  background-color: var(--secondary-red-color-light--);
  font-family: 'Barlow';
font-weight: 600;
font-size: 1.5rem;
/* leading-trim: NONE; */
line-height: 1.75rem;
letter-spacing: 0%;
text-align: center;
border-radius: 4px;
}

#plans .card .plan-container .amount{
    font-family: 'Barlow';
font-weight: 600;
font-style: SemiBold;
font-size: 2.25rem;
/* leading-trim: NONE; */
line-height: 3rem;
letter-spacing: 0.96px;
text-align: center;

}

#plans .card .plan-container .duration{
    font-family: 'Barlow';
font-weight: 600;
font-style: SemiBold;
font-size: 0.75rem;
/* leading-trim: NONE; */
line-height: 1.728rem;
letter-spacing: 0.96px;
text-align: center;

}

#plans .card hr{
    width: 80%;
    margin: 3rem auto 2rem auto;
}


#plans .card .plan-name{
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 2.0625rem;
    line-height: 3.01125rem;
    letter-spacing: 0.03rem;
}

#plans .card p{
    font-family: 'Barlow';
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0%;
}

#plans .card .plan{
    background-image: url(/static/images/check.png);
    background-repeat: no-repeat;
    background-size: 0.8rem;
    background-position: center left;
    font-family: 'roboto';
font-weight: 400;
/* font-style: Regular; */
font-size: 0.9375rem;
line-height: 1.625rem;
letter-spacing: 0%;
text-transform: capitalize;
/* list-style: inside; */
padding-left: 3rem;
}


#plans .card .plan-desc{
    display: flex;
  flex-flow: column;
  gap: 1rem;
}


#plans .card button{
    font-family: 'Roboto';
font-weight: 600;
/* font-style: SemiBold; */
font-size: 0.085;
/* leading-trim: NONE; */
line-height: 0.875rem;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
width: 16.125rem;
height: 3.125rem;
margin: 3rem auto;
border-radius: 20rem;
border: none;
color: white;
background-color: var(--secondary-red-color-light--);
}


#plans .card button:hover{
    animation: 0.1s red-button-animation 1 ease-out forwards;
}