h3{
    font-size: 1.25rem;
    font-family: 'Barlow';
    color: var(--secondary-red-color-light--);
}

#p-left h2{
    font-size: 2.5rem;
    font-family: 'Barlow';
}

#p-left h2 span{
    color: var(--secondary-red-color-light--);
    font-size: 2.5rem;
}

#thcontainer #p-left{
    width: 32vw;
    max-width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 1rem;
    /* height: 25rem; */
}

#thcontainer #hero-para{
    width: 38rem;
    max-width: 100%;
    margin-top: 2rem;
}

#thcontainer{
    display: flex;
    flex-flow: row wrap;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

#p-right img{
    height: 35rem;
    max-width: 100%;
    width: 45vw;
}

button#xplore{
    width: 12.5rem;
    height: 2.9375rem;
    border-radius: 50rem;
    background: var(--secondary-red-color-light--);
    border: none;
}

