#art{
    position: absolute;
    z-index: -1000;
    width: 100%;
}

#art div{
    background-repeat: no-repeat;
background-size: contain;
background-position: center;
position: absolute;
}

#art #small-ball{
    width: 4.875rem;
height: 4.625rem;
/* angle: 0 deg; */
opacity: 1;
background-image: url(/static/images/circle01.svg);
background-repeat: no-repeat;
background-size: contain;
background-position: center;
position: absolute;
top: 2rem;
Left: 4vw;
}

#art #medium-ball{
    width: 13.25rem;
height: 12.5rem;
top: 653px;
left: -2rem;
/* angle: 0 deg; */
opacity: 1;
position: relative;
background-image: url(/static/images/circle02.svg);
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}


#art #enclosed-shape{
    width: 58.8125rem;
height: 53.903125rem;
top: 24rem;
right: 0px;
/* angle: 0 deg; */
opacity: 1;
background-image: url(/static/images/homepage_art01.svg);
background-repeat: no-repeat;
background-size: contain;
background-position: center left 18rem;
position: absolute;
}


#art #mesh-art01{
    width: 27.0625rem;
height: 36.715625rem;
top: 666px;
left: -50px;
/* angle: 0 deg; */
opacity: 1;
background-image: url(/static/images/homepage_mesh_art.png);
background-repeat: no-repeat;
background-size: contain;
position: absolute;
}

#art #mesh-art02 {
    width: 32vw;
    height: 32vw;
    top: 90rem;
    left: 1rem;
    opacity: 1;
    background-image: url(/static/images/homepage_mesh_art02.png);
}

#art #mesh-art03{
    width: 32vw;
height: 22vw;
top: 96rem;
right: 0rem;
background-position: center right -1rem;
/* angle: -180 deg; */
opacity: 1;
background-image: url(/static/images/homepage_mesh_art03.png);
}

#art #mesh-art04{
    width: 27.0625rem;
    height: 36.7159375rem;
    top: 165rem;
    left: 0rem;
    opacity: 1;
    background-image: url(/static/images/homepage_mesh_art04.png);
    background-position: center left;
}

#art #mesh-art05{
width: 15rem;
  height: 36.7159375rem;
  top: 225rem;
  right: 0;
  opacity: 1;
  background-image: url(/static/images/homepage_mesh_art05.png);
  background-position: center right;
}

#art #mesh-art06{
    width: 15rem;
  height: 36.7159375rem;
  top: 290rem;
  left: 0;
  opacity: 1;
  background-image: url(/static/images/homepage_mesh_art06.png);
  background-position: center left;
}

#art #mesh-art07{
width: 41.25rem;
height: 23rem;
top: 438rem;
opacity: 1;
background-position: center left;
background-image: url(/static/images/homepage_mesh_art07.png);
}

#art #mesh-art08{
width: 40rem;
height: 40rem;
top: 460rem;
  right: 0rem;
  opacity: 1;
  background-position: center right -5rem;
background-image: url(/static/images/homepage_mesh_art08.png);
}


#art #mesh-art09{
width: 40rem;
height: 40rem;
top: 512rem;
  left: 0rem;
  opacity: 1;
  background-position: center left -5rem;
background-image: url(/static/images/homepage_mesh_art09.png);
}

#art #mesh-art10{
width: 40rem;
height: 40rem;
top: 530rem;
  right: 0rem;
  opacity: 1;
  background-position: center right;
background-image: url(/static/images/homepage_mesh_art10.png);
}

h3{
    font-size: 1.25rem;
    font-family: 'Barlow';
    color: var(--secondary-red-color-light--);
}

#p-left h2{
    font-size: 2.5rem;
    font-family: 'Barlow';
}

#p-left h2 span{
    color: var(--secondary-red-color-light--);
    font-size: 2.5rem;
}

#thcontainer #p-left{
    width: 32vw;
    max-width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 1rem;
    /* height: 25rem; */
}

#thcontainer #hero-para{
    width: 38rem;
    max-width: 100%;
    margin-top: 2rem;
}

#thcontainer{
    display: flex;
    flex-flow: row wrap;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

#p-right img{
    height: 35rem;
    max-width: 100%;
    width: 45vw;
}

button#xplore{
    width: 12.5rem;
    height: 2.9375rem;
    border-radius: 50rem;
    background: var(--secondary-red-color-light--);
    border: none;
    color: white;
}

button#xplore:hover{
    /* background-color: var(--secondary-red-color-dark--); */
    animation: 0.1s red-button-animation 1 ease-out forwards;
}

#short-intro-section{
  width: 70vw;
  max-width: 100%;
  background-color: var(--third-color--);
  color: var(--main-color--);
  border-radius: 20px;
  padding: 4rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
  margin: 12rem auto;
}

#short-intro-section #left-box,  #short-intro-section #right-box{
    width: 46%;
    width: 46%;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
}

#short-intro-section #left-box{
    gap: 2rem;
}

#short-intro-section #right-box{
    gap: 1rem;
}


#short-intro-section #left-box #intro{
    font-family: 'poppins';
    font-size: 6rem;
    color: var(--secondary-red-color-light--);
    line-height: 7.2rem;
    letter-spacing: -2px;
}

#short-intro-section #left-box #intro02{
    font-family: 'poppins';
    font-weight: 300;
    font-size: 3rem;
    line-height: 3.6rem;
    letter-spacing: -2px;
    vertical-align: middle;
}

#short-intro-section #left-box #intro03{
    font-family: 'poppins';
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0%;
    vertical-align: middle;
}

#short-intro-section #right-box .intro{
    font-family: 'poppins';
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0%;
    vertical-align: middle;
}





main #how-it-works{
    width: 90vw;
  max-width: 100%;
  margin: 0rem auto;
}

#how-it-works #intro{
display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column nowrap;
  max-width: 100%;
  /* border: 1px solid aliceblue; */
  width: 65%;
  margin: 0 auto;
}


#how-it-works #intro p{
    width: fit-content;
    margin-left: auto;
  margin-right: auto;
}

#how-it-works #intro p#top-section{
    font-family: 'poppins';
    font-size: 3rem;
    line-height: 3.6rem;
    letter-spacing: -2px;
    vertical-align: middle;
}

#how-it-works #intro p#middle-section{
    color: var(--secondary-red-color-light--);
    font-family: 'poppins';
    font-style: medium;
    font-size: 6rem;
    line-height: 7.2rem;
    letter-spacing: -2px;
    vertical-align: middle;
}

#how-it-works #explaination{
    margin-top: 8rem;
}


#how-it-works #intro p#bottom-section{
    font-family: 'poppins';
    font-size: 1.375rem;
    line-height: 2.0625rem;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: center;
}

#how-it-works #card-container li{
    width: 108rem;
    height: 60rem;
    top: 34.931875rem;
    left: 6rem;
    border-radius: 20px;
    /* border: 1px solid white; */
    margin-bottom: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6rem;
    margin: 3rem auto;
    box-sizing: border-box;
}


#how-it-works #card-container li#cards01{
    background-image: url(/static/images/mountain.png);
}

#how-it-works #card-container li#cards02{
    background-image: url(/static/images/58bc9277572fd907f6b25162a84565ecf4c4170b.png);
}
#how-it-works #card-container li#cards03{
    background-image: url(/static/images/mountain.png);
}
#how-it-works #card-container li#cards04{
    background-image: url(/static/images/58bc9277572fd907f6b25162a84565ecf4c4170b.png);
}


#how-it-works #card-container li .step{
    font-family: 'poppins';
    font-weight: 300;
    font-size: 2.25rem;
    line-height: 3.375rem;
    letter-spacing: 0%;
    text-align: start;
    margin-bottom: 1rem;
}

#how-it-works #card-container li .task{
    font-family: 'poppins';
    font-weight: 500;
    font-size: 3.75rem;
    line-height: 4.125rem;
    letter-spacing: -2px;
    vertical-align: middle;
    text-align: start;
    margin-bottom: 4rem;
    /* width: 55%; */
}

#how-it-works #card-container li .explanation{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: start;
    margin-bottom: 2rem;
    width: 40rem;
}

#how-it-works #card-container li .summary-line{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.8125rem;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: start;
    width: 30rem;
}


#solution_section #text-container{
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
    justify-content: space-between;
  padding: 5rem;
  box-sizing: border-box;
}

#solution_section #text-container .title{
    font-family: 'poppins';
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

#solution_section #text-container .summary{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem 0rem;
}

#solution_section #text-container .section-left{
    width: 4rem;
  height: 4rem;
  background-image: url(/static/images/solution-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.7rem;
}

#solution_section #text-container .solution{
    display: flex;
  flex-flow: row nowrap;
  margin: 1rem 0rem;
}


#solution_section #right-section{
    width: 38%;
    position: relative;
  top: 1rem;
}

#solution_section #right-section .title{
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 6rem;
line-height: 7.2rem;
letter-spacing: -2px;
vertical-align: middle;
}

#solution_section #right-section .strategy{
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 1.25rem;
line-height: 1.875rem;
letter-spacing: 0%;
vertical-align: middle;
margin: 4rem 0rem;
}

#solution_section #right-section .connect{
    color: white;
  line-height: 2rem;
  border: 1px solid;
  padding: 1rem 2rem;
  border-radius: 50rem;
  position: relative;
  z-index: 10000;
}


#solution_section #img-container{
/* position: absolute; */
  margin-top: -24vw;
}



#plans{
    margin-top: 8rem;
}

#plans .title, #plans .description{
    text-align: center;
}

#plans .title{
    color: var(--secondary-red-color-light--);
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

#plans .description{
    font-family: 'Barlow';
    font-size: 2.5rem;
    line-height: 3.125rem;
    font-weight: 600;
}


#plans .cards-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 2rem;
    width: fit-content;
    margin: 0rem auto;
    margin-top: 10rem;
}

#plans .card{
    border: 1px solid white;
    border-radius: 15px;
    width: 27.75rem;
    min-height: 38.4375rem;
    height: 41rem;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
}

#plans .card#featured{
    height: 46rem;
}

#plans .card .plan-container {
    border-radius: 50%;
    width: 12.5rem;
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: -6rem;
    background-color: var(--secondary-red-color-light--);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

#plans .featured{
    padding: 0rem 1rem;
  line-height: 2rem;
  background-color: var(--secondary-red-color-light--);
  font-family: 'Barlow';
font-weight: 600;
font-size: 1.5rem;
/* leading-trim: NONE; */
line-height: 1.75rem;
letter-spacing: 0%;
text-align: center;
border-radius: 4px;
}

#plans .card .plan-container .amount{
    font-family: 'Barlow';
font-weight: 600;
font-style: SemiBold;
font-size: 2.25rem;
/* leading-trim: NONE; */
line-height: 3rem;
letter-spacing: 0.96px;
text-align: center;

}

#plans .card .plan-container .duration{
    font-family: 'Barlow';
font-weight: 600;
font-style: SemiBold;
font-size: 0.75rem;
/* leading-trim: NONE; */
line-height: 1.728rem;
letter-spacing: 0.96px;
text-align: center;

}

#plans .card hr{
    width: 80%;
    margin: 3rem auto 2rem auto;
}


#plans .card .plan-name{
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 2.0625rem;
    line-height: 3.01125rem;
    letter-spacing: 0.03rem;
}

#plans .card p{
    font-family: 'Barlow';
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0%;
}

#plans .card .plan{
    background-image: url(/static/images/check.png);
    background-repeat: no-repeat;
    background-size: 0.8rem;
    background-position: center left;
    font-family: 'roboto';
font-weight: 400;
/* font-style: Regular; */
font-size: 0.9375rem;
line-height: 1.625rem;
letter-spacing: 0%;
text-transform: capitalize;
/* list-style: inside; */
padding-left: 3rem;
}


#plans .card .plan-desc{
    display: flex;
  flex-flow: column;
  gap: 1rem;
}


#plans .card button{
    font-family: 'Roboto';
font-weight: 600;
/* font-style: SemiBold; */
font-size: 0.085;
/* leading-trim: NONE; */
line-height: 0.875rem;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
width: 16.125rem;
height: 3.125rem;
margin: 3rem auto;
border-radius: 20rem;
border: none;
color: white;
background-color: var(--secondary-red-color-light--);
}


#plans .card button:hover{
    animation: 0.1s red-button-animation 1 ease-out forwards;
}

#plans .card button:active{
    width: 15rem;
    line-height: 0.5rem;
}


#focus-img{
    width: 100%;
    margin-top: 1rem;
}

#focus-img img{
    width: 100%;
    position: relative;
  z-index: -10000;
}



#foundation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 80%;
    margin: 0rem auto;
}

#foundation h4 {
    font-family: 'Poppins';
    font-weight: 300;
    font-style: Light;
    font-size: 3rem;
    line-height: 3.6rem;
    letter-spacing: -2px;
    text-align: center;
    vertical-align: middle;
    margin-top: -20vw;
    margin-bottom: 4rem;
}

#foundation #foundation-year #years{
    display: flex;
  justify-content: space-between;
  width: 63%;
  margin: 0rem auto;
}


#foundation #hooter-history{
    display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 5rem auto;
}

#foundation #hooter-history #section-right{
    width: 50%;
}

#foundation #hooter-history #section-right .desc{
    font-family: 'Poppins';
font-weight: 400;
font-style: Regular;
font-size: 1rem;
line-height: 1.5rem;
letter-spacing: 0%;
vertical-align: middle;

}

#foundation #hooter-history #section-left .year{
    font-family: 'Poppins';
font-weight: 300;
font-style: Light;
font-size: 2rem;
line-height: 3rem;
letter-spacing: 0%;
vertical-align: middle;
color: var(--secondary-red-color-light--);
}


#foundation #hooter-history #section-left .desc{
    font-family: 'Poppins';
font-weight: 500;
font-style: Medium;
font-size: 3rem;
line-height: 3.6rem;
letter-spacing: 0%;
vertical-align: middle;
}


#end-image{
      height: 40vw;
  object-fit: cover;
}

