HOOTER_APPLICATION_PORT=888
APP_DOMAIN=
DASHBOARD_DOMAIN=
ALLOWED_ORIGINS=
HOOTER_SECRET_KEY=
MARIADB_ROOT_PASSWORD=
HOOTER_DB_HOST=
HOOTER_DB_PORT=
HOOTER_DB_USER=
HOOTER_DB_PASSWORD=
HOOTER_DB=
MONGO_USER=
MONGO_PASSWORD=
MONGO_DB=
MONGO_HOST=
MONGO_PORT=
MONGO_ROUTE=
SESSION_COOKIE_SECURE=
SHOPIFY_CLIENT_SECRET=
SHOPIFY_CLIENT_ID=
SHOPIFY_API_VERSION=
HOOTER_ENCRYPTION_KEY=
HOOTERS3_HOST=
HOOTERS3_PORT=
HOOTERS3_CONSOLE_PORT=
HOOTERS3_ENDPOINT_URL = 
HOOTERS3_ACCESS_KEY_ID = 
HOOTERS3_SECRET_ACCESS_KEY = 
HOOTER_REDIS_PASSWORD = 
HOOTER_REDIS_PORT = 