.env
__pycache__
.product_images/.original_images/*
.product_images/.low_resol_images/*
.product_images/.high_resol_images/*
.product_images/.image_cards/*
!.product_images/.original_images/.gitkeep
!.product_images/.high_resol_images/.gitkeep
!.product_images/.low_resol_images/.gitkeep
!.product_images/.image_cards/.gitkeep