@font-face {
    font-family: "DM Sans";
    src: url(/static/fonts/DM_Sans/static/DMSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    /* font-size: 1rem; */
}

:root{
    --main-color--: #000000;
    --secondary-red-color-light--: #EF5143;
    --secondary-red-color-dark--: #892E26;
    --third-color--: #FFFFFF;
}

body{
    background-color: var(--main-color--);
}