@font-face {
    font-family: "DM Sans";
    src: url(/static/fonts/DM_Sans/static/DMSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "DM Sans-bold";
    src: url(/static/fonts/DM_Sans/static/DMSans-Bold.ttf);
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "Barlow";
    src: url(/static/fonts/Barlow/Barlow-Bold.ttf);
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Barlow-regular';
    src: url(/static/fonts/Barlow/Barlow-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "poppins";
    src: url(/static/fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "poppins-bold";
    src: url(/static/fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
    font-style: bold;
}


@font-face{
    font-family: "roboto";
    src: url(/static/fonts/Roboto/static/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}



*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: clamp(10px, 16px);
    max-width: 100%;
}

:root{
    --main-color--: #000000;
    --secondary-red-color-light--: #EF5143;
    --secondary-red-color-dark--: #892E26;
    --third-color--: #FFFFFF;
}

body{
    background-color: var(--main-color--);
    color: var(--third-color--);
    font-family: 'Barlow-regular';
    font-weight: 400;
    font-style: normal;
}


a:hover{
    opacity: 70%;
}

li{
    list-style: none;
}

button:active{
    opacity: 80%;
}