<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="All in one E commerce engine. Hooter provides a unified dashboard for all e commerce businesses">
    <meta name="author" content="Hooter pvt ltd">
    <meta name="keywords" content="Hooter, hooter, e commerce engine, ECE, ece, unified dashboard, unified platform, shopify, dashboard"> <!-- Ignored by Google -->


    <!-- Open Graph for Facebook, LinkedIn, etc. -->
    <meta property="og:title" content="Hooter">
    <meta property="og:description" content="unified dashboard for all e commerce businesses, removing the clutter of dealing with bunch of dashboards">
    <!-- <meta property="og:image" content="http://example.com/image.jpg">
    <meta property="og:url" content="http://example.com/page.html"> -->

    <!-- Twitter Cards for X (Twitter) -->
    <meta name="twitter:card" content="Hooter is an e-commerce engine designed to replace 
    fragmented tools and multiple dashboards with a single, unified platform. It centralizes 
    all core e-commerce operations, eliminating operational silos and simplifying daily management.">
    <meta name="twitter:title" content="Page Title">
    <meta name="twitter:description" content="Page description for Twitter.">
    <meta name="twitter:image" content="http://example.com/image.jpg">

    <link rel="stylesheet" href="static/stylesheet/layout/universal_layout.css">
    <link rel="stylesheet" href="static/stylesheet/layout/animations.css">
    <link rel="stylesheet" href="static/stylesheet/pages/homepage.css">
    <title>Hooter</title>
</head>
<body>
    <header>
        {% include 'components/header.html' %}
    </header>

    <main>
        <div id="thcontainer">
            <div id="p-left">
                <h3>Welcome to Hooter</h3>

                <h2>
                    Complete E-Commerce Engine (CECE) designed to replace fragmented tools and 
                    <span>multiple dashboards with a single, unified platform</span>
                </h2>

                <p id="hero-para">
                    At Hooter, we bring the power of Large Language Models, Machine Learning, 
                    and AI Automation to help businesses thrive in the digital age. Our Agile 
                    meeting management product ensures that your team stays on track, remains collaborative, 
                    and efficiently tackles blockers and risks.
                </p>

                <button id="xplore">Explore Product</button>
            </div>

            <div id="p-right">
                <img src="/static/images/hero-dashboard.png" alt="hooter dashboard pic">
            </div>
        </div>

        <div id="short-intro-section">
            <div id="left-box">
                <p id="intro">We Are Hooter</p>

                <p id="intro02">Your Global Partner for
                Scalable Virtual Solutions</p>

                <p id="intro03">Hooter is a trusted global leader in Virtual
                Assistant services, delivering smart, scalable, and
                specialized business support for over 17 years.</p>
            </div>

            <div id="right-box">
                <p class="intro">hooter, founded in 2025 by entrepreneur Kunal Jaggi, is a 360°
                    business solutions provider headquartered in India, with offices in the USA
                    and a growing global presence.</p>
                
                <p class="intro">
                    We empower entrepreneurs, startups, and enterprises with professionally
                    trained virtual assistants skilled in Real Estate, Finance, Insurance, IT,
                    Healthcare, Travel, E-Commerce, and more.
                </p>
                
                <p class="intro">
                    With a team of <span>500+ expert VAs serving 500+ businesses worldwide,</span>
                    handle everything from admin, customer service, and call management to
                    digital marketing, web development, and operations
                </p>

                <p class="intro">
                    At Hooter, we go beyond support—we become your growth partner.
                    This isn’t just outsourcing; it’s seamless, smart collaboration that frees your
                    time and accelerates success.
                </p>
            </div>
        </div>

        <div id="how-it-works">
            <div id="intro">
                <p id="top-section">From First Click to Full Support,</p>
                <p id="middle-section">We're With You.</p>
                <p id="bottom-section">Discover how our streamlined step-by-step process connects you with the right virtual
                    support — quickly and efficiently.</p>
            </div>
        
            <div id="explaination">
                <ul id="card-container">
                    <li id="cards01">
                        <p class="step">Step 01.</p>
        
                        <p class="task">Choose Your Plan</p>
        
                        <p class="explanation">We understand that each business has unique needs, which is
                            why we offer Part-time and Full-time models to fit every
                            budget. No matter the scale of your business, we have the
                            right plan for you. Whether you need one assistant or a full
                            team to handle a variety of tasks, you'll find a plan that suits
                            your goals.</p>
        
                        <p class="summary-line">Pick the plan that's right for you
                            and get started!</p>
                    </li>
                    <li id="cards02">
                        <p class="step">Step 02.</p>
        
                        <p class="task">Meet Your
                            Assistant</p>
        
                        <p class="explanation">We know how critical it is to find the perfect fit for your
                            business. That's why we give you the opportunity to interview
                            as many assistants as you need until you find the one that
                            aligns perfectly with your business needs and culture. Our
                            assistants are highly skilled, and we ensure they meet your
                            specific requirements before you begin working together.</p>
        
                        <p class="summary-line">You Choose. We Deliver.</p>
                    </li>
                    <li id="cards03">
                        <p class="step">Step 03.</p>
        
                        <p class="task">Schedule
                            Meeting</p>
        
                        <p class="explanation">Once you've found your ideal assistant, we'll schedule a short
                            conference call with your assistant's project manager and
                            trainer. This kick-off meeting will be an opportunity to iron out
                            the final details — whether it's task prioritization, workflows, or
                            communication expectations.</p>
        
                        <p class="summary-line">Kickstart Collaboration with
                            Clarity.</p>
                    </li>
                    <li id="cards04">
                        <p class="step">Step 04.</p>
        
                        <p class="task">Breathe Easy</p>
        
                        <p class="explanation">At this point, it's all about you enjoying the relief of having a
                            reliable professional team member who handles the little
                            things, so you can focus on the bigger picture. We take care of
                            the daily operational details, from administrative tasks to
                            marketing support, so you can breathe easy knowing your
                            business is in capable hands.</p>
        
                        <p class="summary-line">Exhale—Your VA's Got This.</p>
                    </li>
                </ul>
            </div>
        </div>

        <div id="solution_section">
            <div id="text-container">
                <div id="left-section">
                    <ul id="solution-list">
                        <li class="solution">
                            <div class="section-left">

                            </div>

                            <div class="section-right">
                                <p class="title">Tailored Solutions for Every
Need</p>

                                <p class="summary">Services tailored to your unique business needs.</p>
                            </div>
                        </li>
                        <hr>
                        <li class="solution">
                            <div class="section-left">

                            </div>

                            <div class="section-right">
                                <p class="title">Expert Team of Professionals</p>

                                <p class="summary">Reliable and trained Virtual Assistants.</p>
                            </div>
                        </li>
                        <hr>
                        <li class="solution">
                            <div class="section-left">

                            </div>

                            <div class="section-right">
                                <p class="title">Cost-Effective and Scalable</p>

                                <p class="summary">Affordable, scalable support for your growth.</p>
                            </div>
                        </li>
                        <hr>
                        <li class="solution">
                            <div class="section-left">

                            </div>

                            <div class="section-right">
                                <p class="title">Focus on What Matters Most</p>

                                <p class="summary">Delegate tasks and focus on what truly matters.</p>
                            </div>
                        </li>
                        <hr>
                    </ul>
                </div>
                
                <div id="right-section">
                    <p class="title">Here's how 
                        <span style="color: var(--secondary-red-color-light--);">we nail it.</span>
                    </p>
                
                    <p class="strategy">From strategic planning to flawless execution, our case studies highlight the
                        milestones.</p>
                
                    <a href="/contact" class="connect">TALK TO OUR EXPERTS AND START HIRING</a>
                </div>
            </div>

            <div id="img-container">
                <img src="/static/images/man_at_desk.png" alt="section04-image">
            </div>
        </div>

        <div id="plans">
            <p class="title">Pricing Plan</p>
            <p class="description">Choose The Plan</p>

            <div class="plan-cards">
                <ul class="cards-container">
                    <li class="card">
                        <div class="plan-container">
                            <p class="amount">$99</p>
                            <p class="duration">Per month</p>
                        </div>

                        <div class="plan-name">Lite</div>
                        <p>Get Popular Plan From Us</p>
                        <hr>

                        <ul class="plan-desc">
                            <li class="plan">Ad Management</li>
                            <li class="plan">Multi-Language Content</li>
                            <li class="plan">Conversational Bots</li>
                            <li class="plan">SEO marketing</li>
                            <li class="plan">UI/UX Design</li>
                        </ul>

                        <button class="choose-plan">Choose Plan</button>
                    </li>

                    <li class="card" id="featured">
                        <div class="plan-container">
                            <p class="amount">$99</p>
                            <p class="duration">Per month</p>
                        </div>

                        <p class="featured">Featured</p>
                        <div class="plan-name">Pro</div>
                        <p>Get Popular Plan From Us</p>
                        <hr>

                        <ul class="plan-desc">
                            <li class="plan">Ad Management</li>
                            <li class="plan">Multi-Language Content</li>
                            <li class="plan">Conversational Bots</li>
                            <li class="plan">SEO marketing</li>
                            <li class="plan">UI/UX Design</li>
                        </ul>

                        <button class="choose-plan">Choose Plan</button>
                    </li>

                    <li class="card">
                        <div class="plan-container">
                            <p class="amount">$99</p>
                            <p class="duration">Per month</p>
                        </div>

                        <div class="plan-name">Enterprise</div>
                        <p>Get Popular Plan From Us</p>
                        <hr>

                        <ul class="plan-desc">
                            <li class="plan">Ad Management</li>
                            <li class="plan">Multi-Language Content</li>
                            <li class="plan">Conversational Bots</li>
                            <li class="plan">SEO marketing</li>
                            <li class="plan">UI/UX Design</li>
                        </ul>

                        <button class="choose-plan">Choose Plan</button>
                    </li>
                </ul>
            </div>
        </div>

        <div id="focus-img">
            <img src="/static/images/focus.png" alt="focus image">
        </div>

        <div id="foundation">
            <h4>Milestones That Made Us</h4>

            <div id="foundation-year">
                <ul id="years">
                    <li class="yrs">2026</li>
                    <li class="yrs">2027</li>
                    <li class="yrs">2028</li>
                    <li class="yrs">2029</li>
                    <li class="yrs">2030</li>
                </ul>

                <img src="/static/images/year-scale.png" alt="year scale" width="100%">
            </div>

            <div id="hooter-history">
                <div id="section-left">
                    <p class="year">2024</p>

                    <p class="desc">Foundation of Hooter</p>
                </div>

                <div id="section-right">
                    <p class="desc">Hooter was founded by Kunal with a vision to provide
                        premium virtual assistant services that streamline business operations.
                        Initially operating out of India, the company quickly recognized the
                        growing demand for skilled remote support and set the foundation for
                        becoming a global player in the virtual assistance industry.</p>
                </div>
            </div>
        </div>

        <img id="end-image" src="/static/images/a4ad5556ed1446252d87e82457d415cb6b3e4a89.jpg" alt="image" width="100%">
    </main>

    <footer>
        {% include 'components/footer.html' %}
    </footer>
</body>
</html>