<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="All in one E commerce engine. Hooter provides a unified dashboard for all e commerce businesses">
    <meta name="author" content="Hooter pvt ltd">
    <meta name="keywords" content="Hooter, hooter, e commerce engine, ECE, ece, unified dashboard, unified platform, shopify, dashboard"> <!-- Ignored by Google -->


    <!-- Open Graph for Facebook, LinkedIn, etc. -->
    <meta property="og:title" content="Hooter">
    <meta property="og:description" content="unified dashboard for all e commerce businesses, removing the clutter of dealing with bunch of dashboards">
    <!-- <meta property="og:image" content="http://example.com/image.jpg">
    <meta property="og:url" content="http://example.com/page.html"> -->

    <!-- Twitter Cards for X (Twitter) -->
    <meta name="twitter:card" content="Hooter is an e-commerce engine designed to replace 
    fragmented tools and multiple dashboards with a single, unified platform. It centralizes 
    all core e-commerce operations, eliminating operational silos and simplifying daily management.">
    <meta name="twitter:title" content="Page Title">
    <meta name="twitter:description" content="Page description for Twitter.">
    <meta name="twitter:image" content="http://example.com/image.jpg">

    <title>Hooter</title>
</head>
<body>
    
</body>
</html>