<link rel="stylesheet" href="/static/stylesheet/layout/footer.css">

<div id="top-section">
    <div id="brand" class="section">
        <p class="title">Hooter</p>

        <p class="desc">At Hooter we are passionate about leveraging the power of artificial intelligence to solve real business
            challenges. Our mission is to provide businesses with innovative AI tools and expert services that enhance
            operational efficiency, boost productivity, and drive growth.</p>
    </div>

    <div id="product" class="section">
        <p class="title">Product</p>
        <ul class="container">
            <li class="item"><a href="/">Features</a></li>
            <li class="item"><a href="/">Conversation intelligence</a></li>
            <li class="item"><a href="/">Chrome extension</a></li>
            <li class="item"><a href="/">API</a></li>
            <li class="item"><a href="/">Customers</a></li>
            <li class="item"><a href="/">Pricing</a></li>
            <li class="item"><a href="/">Security</a></li>
            <li class="item"><a href="/">Trust Center</a></li>
        </ul>
    </div>

    <div id="use-case" class="section">
        <p class="title">Use Cases</p>
        <ul class="container">
            <li class="item"><a href="/">Sales</a></li>
            <li class="item"><a href="/">Recruiting</a></li>
            <li class="item"><a href="/">Engineering</a></li>
            <li class="item"><a href="/">Marketing</a></li>
            <li class="item"><a href="/">Management</a></li>
            <li class="item"><a href="/">Consulting</a></li>
            <li class="item"><a href="/">Education</a></li>
            <li class="item"><a href="/">Media & Podcasting</a></li>
        </ul>
    </div>

    <div id="integrations" class="section">
        <p class="title">Integrations</p>
        <ul class="container">
            <li class="item"><a href="/">All integrations</a></li>
            <li class="item"><a href="/">Video conferencing</a></li>
            <li class="item"><a href="/">Audio recording</a></li>
            <li class="item"><a href="/">CRM</a></li>
            <li class="item"><a href="/">Dialers</a></li>
            <li class="item"><a href="/">Collaboration</a></li>
            <li class="item"><a href="/">Calenders</a></li>
            <li class="item"><a href="/">Storage</a></li>
        </ul>
    </div>

    <div id="Company" class="section">
        <p class="title">About</p>
        <ul class="container">
            <li class="item"><a href="/">About</a></li>
            <li class="item"><a href="/">Careers</a></li>
            <li class="item"><a href="/">Blog</a></li>
            <li class="item"><a href="/">Terms of Service<li>
            <li class="item"><a href="/">Privacy Policy</a></li>
        </ul>
    </div>
</div>

<div id="bottom-section">
    <div id="rights-n-links">
        <div id="left-section">
            <p class="content-desc">© 2025 Hooter All rights reserved</p>
        </div>

        <div id="right-section">
            <div id="social-media">
                <ul id="links">
                    <li id="twitter">
                        <a href="http://" target="_blank" rel="noopener noreferrer"></a>
                    </li>

                    <li id="facebook">
                        <a href="http://" target="_blank" rel="noopener noreferrer"></a>
                    </li>

                    <li id="insta">
                        <a href="http://" target="_blank" rel="noopener noreferrer"></a>
                    </li>

                    <li id="youtube">
                        <a href="http://" target="_blank" rel="noopener noreferrer"></a>
                    </li>

                    <li id="linkedin">
                        <a href="http://" target="_blank" rel="noopener noreferrer"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>