<link rel="stylesheet" href="/static/stylesheet/layout/header.css">

<div id="navbar-container">
    <div id="left-navbar">
        <div id="logo">
            <a href="/" title="Yours truely hooter">
                <img src="/static/icons/logo.png" alt="logo">
            </a>
        </div>
    </div>

    <div id="right-navbar">
        <div id="navigations">
            <ul id="navigation-lists">
                <li class="navigation"><a href="/">Home</a></li>
                <li class="navigation"><a href="/">Services</a></li>
                <li class="navigation"><a href="/">Pricing</a></li>
                <li class="navigation"><a href="/">About Us</a></li>
                <li class="navigation"><a href="/">Blogs</a></li>
                <li id="contactus" class="navigation"><a href="/">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>